#openPopup {
    width: 164px;
    height: 30px;
    margin-top: 15px;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 3px 5px 5px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
    transition: 0.5s;
}

#openPopup:hover {
    background-color: cadetblue;
    color: whitesmoke;
    cursor: pointer;
}

#popup-content {
    width: 350px;
    height: 370px;
}

#mainDivChat {
    width: 250px;
    border-radius: 5px;
}

#mainDivElt {
    width: 100%;
    height: 350px;
    border: 1px solid black;
    background-color: antiquewhite;
    box-sizing: border-box;
    overflow-y: scroll;
}

#mainDivElt ul {
    padding: 0;
}

#divContainer {
    width: 100%;
    box-sizing: border-box;
}

#inputMessageElt {
    width: 100%;
    box-sizing: border-box;
}

#boutonEnvoyer {
    width: 100%;
    box-sizing: border-box;
}

#boutonChat {
    width: 100%;
    box-sizing: border-box;
}

#listeMessage {
    list-style: none;
}

.pseudoChat {
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px 10px;
}

.messageChat {
    font-size: 0.8em;
    margin: 5px 10px;
}